$font-stack: 'Open Sans', Arial, sans-serif;
$primary-color: #34495e;
$secondary-color: #90a8a8;
$heart-icon-color: #ff4e50;
$title-header-color: $primary-color;
$description-header-color: $secondary-color;
$spotify-header-color: #9fe024;
$spotify-header-hover-color: lighten($spotify-header-color, 8%);
$anchor-color: #60808f;
$anchor-hover-color: lighten($anchor-color, 20%);

@import '../bower_components/sass-bootstrap/lib/bootstrap';

@media (min-width: $screen-sm-min) {
  .container {
    width: $screen-sm-min;
  }
}

html, body {
  height: 100%;
}

#wrap {
  height: auto;
  margin: 0 auto -110px;
  min-height: 100%;
  padding: 0 0 110px;
}

#footer {
  height: 110px;
  text-align: center;
}

body {
  font-family: $font-stack;
}

h1, h2 {
  font-family: $font-stack;
}

a {
  color: $anchor-color;
  transition: color .15s ease-in-out;
  &:hover {
    color: $anchor-hover-color;
    text-decoration: none;
  }
}

#title-header,
#description-header {
  text-align: center;
  font-weight: 600;
  line-height: normal;
}

#title-header {
  color: $title-header-color;
  font-size: 74px;
}

#description-header {
  color: $description-header-color;
  font-size: 27px;
}

#search-bar {
  border: 1px solid rgba(black, .175);
  border-radius: 3px;
  font-size: 20px;
  height: 42px;
  margin: 20px 0;
  padding: 0 10px 0 41px;
  width: 100%;
  &:hover {
    box-shadow: 0 0 4px 0 rgba($secondary-color, .15);
  }
  &:focus {
    outline: none;
    border: 1px solid rgba(black, 0.2);
    box-shadow: 0 0 4px 0 rgba($secondary-color, .3);
  }
}

#search-icon {
  color: $primary-color;
  font-size: 26px;
  margin: 28px 0 0 12px;
  position: absolute;
}

#spotify-header {
  color: $spotify-header-color;
  &:hover {
    color: $spotify-header-hover-color;
  }
}

#heart-icon {
  color: $heart-icon-color;
}

#spotify-player {
  color: rgba(black, 0.1);
  font-size: 200px;
  line-height: 30px;
  margin: 20px 0;
  text-align: center;
}

#spotify-player iframe {
  height: 370px;
  margin-bottom: 20px;
  width: 100%;
}

#upcoming-shows-header {
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

#events {
  margin-bottom: 20px;
}

.event {
  margin-top: 20px;
  width: 369px;
}

@media (max-width: $screen-xs-max) { 
  .event {
    width: 300px;
  }
}

.event-image {
  border-radius: 3px;
  float: left;
  height: 125px;
  width: 125px;
}

.event-body {
  display: table-cell;
  height: 125px;
  overflow: hidden;
  padding-left: 10px;
  vertical-align: middle;
}

.event-performer { 
  font-weight: bold;
}

.event-venue { }

.event-location { }

.event-date { }

.event-image-shadow {
  display: block;
  position: relative;
  img {
    display: block;
  }
  &::before {
    border: 1px solid rgba(black, .15);
    border-radius: 3px;
    box-shadow: inset 0 0 3px 1px rgba(black, .1);
    content: '';
    display: block;
    height: 125px;
    position: absolute;
    width: 125px;
  }
}
